kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: "{{storage_class_scale}}"
provisioner: spectrumscale.csi.ibm.com
parameters:
  clusterId: "{{ storage_cluster_id }}" # This must be the Storage-Cluster-ID
  volBackendFs: "{{filesystem_name}}" # The must be the file-system-name of the CNSA-Cluster
reclaimPolicy: Delete
volumeBindingMode: Immediate
allowVolumeExpansion: true